* {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  height: auto;
  width: 1220px;
  background-image: url(/ball.jpg);
  background-size: cover; /* Cover the entire body */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the background image */
  background-attachment: fixed; /* Ensure the background image stays still */
}

#main {
  width: 1220px;
  height: auto;
}

.navbar {
  background: local;
  color: white;
  width: 1220px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 70px; /* Add margin to the right */
  border-radius: 3px; /* Add border radius */
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.8); /* Add heavy black box shadow */
}

.icon {
  width: 200px;
  height: 70px;
}

.logo {
  width:300px;
  color: orangered;
  font-size: 35px;
  padding-right: 10px;
  margin-left: 30px;
}

.menu {
  width: 100%;
  text-align: right;
}

ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  margin-left: 70px;
  font-size: 20px;
}

ul li:first-child {
  margin-left: 0;
}

ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.4s ease;
}

ul li a:hover {
  color: black;
}

.search {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 2%;
}

.tent {
  width: 1220px;
  height: auto;
  color: black;
  position: relative;
}

.tent h1 {
  font-size: 50px;
  padding-left: 20px;
  margin-top: 7%;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.tent .par {
  padding: 30px;
  padding-bottom: 30px;
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 45px;
  font-weight: bold;
}

.srch {
  width: 400px;
  height: 40px;
  background: white;
  border: 1px solid rgb(0, 0, 0);
  margin-top: 13px;
  color: orangered;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 1285px;
  height: 400px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
  margin-bottom: 25px;
}

footer p:nth-child(2) {
  color: orangered;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: orangered;
  border-radius: 50%;
  margin: 22px 10px;
  color: black;
  text-decoration: none;
  font-size: 24px;
}

.social a:hover {
  transform: scale(1.4);
  transition: 0.3s;
  background-color: transparent;
  border: 2px solid orangered;
  cursor: pointer;
}

footer .copy p {
  color: orangered;
  font-size: 17px;
  width: 500px;
  text-align: center;
  line-height: 26px;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.pitch-container {
  width: 60%;
  margin-right: 6%;
  margin-left:1%; /* Adjusted margin */
}

.welcome {
  font-size: 120px; /* Increased font size */
  font-weight: bold;
}

.parh {
  font-size: 30px; /* Increased font size */
  font-style: italic;
}

.get-started-btn,
.register-btn {
  width: 150px;
  background-color: orangered;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 5px;
  transition: background-color 0.4s;
}

.get-started-btn:hover,
.register-btn:hover {
  background-color: #ff9b06;
}

.form-container {
  width: 35%; /* Adjusted width */
  margin-left: 5%;
}

#register-form {
  display: flex;
  flex-direction: column;
}

#register-form label {
  margin-bottom: 5px;
}

#register-form input,
#register-form textarea {
  width : 350px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#register-form button {
  padding: 10px;
  background-color:orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.profile-container img {
  
  width: 300px; /* Adjust image width */
  border-radius: 50%;
  border: 1px solid grey;
}

.profile-container h1 {
  font-size: 90px; /* Username font size */
  margin-top: 20px; /* Adjust margin as needed */
}

.profile-container p {
 
  font-size: 30px; /* Email font size */
  margin-top: 40px; /* Adjust margin as needed */
}
/* styles.css */

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  color:black;
  margin: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  font-size:30px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.card p {
  font-size: 1rem;
  color:black;
  margin-bottom: 8px;
  font-size:20px;
}

.card span {
  font-weight: bold;
}




.tent {
  text-align: center;
  margin: 20px 0;
}


.add-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
}

.add-review button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

.add-review select,
.add-review input {
  padding: 10px;
  margin: 5px 0;
  font-size: 16px;
}

.add-review button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin-right: 10px;
  width: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.review-ite {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  width: 1200px;;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  
}
.review-item h3 {
  margin-top: 0;
}
.add-review label{
  font-size :20px;
}
.add-review input{
  border-radius: 7px;
  width:400px;
}
.add-review select{
  width:400px;
}
.add-review button{
  border-radius: 7px;
}
.logout-btn{
  padding: 10px;
  background-color:orangered;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size:15px;
}
.review-ite {
  font-size:20px;
}
.btn-edit, .btn-update, .btn-delete {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 4px;
}

.pitch-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.pitch-item h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.pitch-item p {
  margin: 10px 0;
}

.button-group {
  display: flex;
}

.btn-edit,
.btn-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width:20px;
  font-size: 1rem;
  color: #333;
}

.btn-edit:hover {
  color: green;
}

.btn-delete:hover {
  color: red;
}

.add-pitch {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  margin-top: 20px;
}

.add-pitch h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.add-pitch input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  font-size: 1rem;
}

.add-pitch button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
}

.add-pitch button:hover {
  background-color: #555;
}

